Repository nokia-wroclaw/innovativeproject-competitive-teams, pull requests merged in 2020-12, with the labels that each got.

#28 users profile
  backend/app/database/crud.py
  backend/app/schemas/schemas.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Auth/Auth.js
  frontend/src/Components/Profile/index.js
  frontend/src/Components/TeamsHeader/UserStatus.js
  frontend/src/Components/Util/Circle.js
Labels: enhancement, frontend

#29 Feature/tournaments
  backend/app/database/crud.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/schemas/schemas.py
  backend/requirements.txt
Labels: backend, enhancement

#30 Fixed player_update bug
  backend/app/main.py
Labels: backend, bug, fix

#33 Added searching by name endpoints to teams and players
  backend/app/database/crud.py
  backend/app/main.py
Labels: backend, enhancement

#31 Feature/tourncreator
  frontend/src/Components/Dashboard/index.js
  frontend/src/Components/TournamentCreator/index.css
  frontend/src/Components/TournamentCreator/index.js
Labels: enhancement, frontend

#32 Feature/upcomingmatches
  frontend/src/Components/Home/Home.js
  frontend/src/Components/Match/index.js
Labels: enhancement, frontend

#34 Feature/tournaments
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Api/index.js
  frontend/src/App.js
  frontend/src/Components/Match/index.js
  frontend/src/Components/TeamsHeader/index.js
  frontend/src/Components/Tournament/ResolveTournamentMatch.js
  frontend/src/Components/Tournament/SEGraph.js
  frontend/src/Components/Tournament/index.css
  frontend/src/Components/Tournament/index.js
  frontend/src/Components/Tournaments/index.css
  frontend/src/Components/Tournaments/index.js
  frontend/src/global.css
Labels: enhancement, frontend

#35 test search
  frontend/src/Components/MatchCreator/index.js
  frontend/src/Components/Matches/index.js
  frontend/src/Components/TeamCreator/index.js
  frontend/src/Components/TournamentCreator/index.js
Labels: enhancement, frontend

#36 Feature/swiss tournament
  backend/app/database/crud.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/schemas/schemas.py
Labels: backend, enhancement

#37 searching in lists
  backend/app/database/crud.py
  backend/app/main.py
  frontend/src/Components/Matches/index.js
  frontend/src/Components/Players/index.js
  frontend/src/Components/Teams/index.js
  frontend/src/Components/Tournaments/index.js
Labels: backend, enhancement, frontend
