Repository nokia-wroclaw/innovativeproject-competitive-teams, pull requests merged in 2020-11, with the labels that each got.

#8 Firebase
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Components/Auth/Auth.js
  frontend/src/Components/Base/base.js
  frontend/src/Components/Firebase_funcs/firebase_funcs.js
  frontend/src/Components/Home/Home.js
  frontend/src/Components/Login/Login.js
  frontend/src/Components/PrivateRoute/PrivateRoute.js
  frontend/src/Components/SignUp/SignUp.js
  frontend/src/index.js
Labels: enhancement, frontend

#10 Feature/teams
  backend/app/database/crud.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/schemas/schemas.py
Labels: backend, enhancement

#12 Fix/pr 9 review fixes
  frontend/src/App.js
  frontend/src/Components/Dashboard/index.js
  frontend/src/Components/Firebase_funcs/firebase_funcs.js
  frontend/src/Components/Profile/index.js
  frontend/src/Components/TeamsHeader/UserStatus.js
  frontend/src/Components/TeamsHeader/index.css
  frontend/src/Components/TeamsHeader/index.js
Labels: fix, frontend

#11 Feature/team components
  frontend/src/App.js
  frontend/src/Components/Dashboard/index.js
  frontend/src/Components/Team/index.js
  frontend/src/Components/Teams/index.css
  frontend/src/Components/Teams/index.js
Labels: enhancement, frontend

#13 Feature/additional database functionalities
  .eslintrc
  backend/app/database/crud.py
  backend/app/firebase/firebase.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/schemas/schemas.py
  backend/requirements.txt
  backend/service-account-file.json
  frontend/src/Components/Auth/Auth.js
  frontend/src/Components/Login/Login.js
  frontend/src/Components/SignUp/SignUp.js
Labels: backend, enhancement

#17 Feature/roles
  backend/app/database/crud.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/permissions/permissions.py
  backend/app/schemas/schemas.py
  frontend/src/Components/Team/index.js
  frontend/src/Components/Teams/index.js
Labels: backend, enhancement, frontend

#18 auth and user information in context
  frontend/src/Components/Auth/Auth.js
  frontend/src/Components/Login/Login.js
  frontend/src/Components/Profile/index.js
  frontend/src/Components/SignUp/SignUp.js
  frontend/src/Components/TeamCreation/TeamCreation.js
Labels: enhancement, frontend

#19 Feature/matches
  backend/app/database/crud.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/permissions/permissions.py
  backend/app/schemas/schemas.py
Labels: backend, enhancement

#20 Feature/team creator
  backend/app/main.py
  frontend/src/App.js
  frontend/src/Components/Auth/Auth.js
  frontend/src/Components/Dashboard/index.css
  frontend/src/Components/Dashboard/index.js
  frontend/src/Components/Team/index.js
  frontend/src/Components/TeamCreator/index.css
  frontend/src/Components/TeamCreator/index.js
  frontend/src/Components/Teams/index.js
  frontend/src/Components/TeamsHeader/UserStatus.js
  frontend/src/Components/TeamsHeader/index.js
Labels: enhancement, frontend

#23 Feature/matchlist
  frontend/src/App.js
  frontend/src/Components/Match/index.css
  frontend/src/Components/Match/index.js
  frontend/src/Components/Matches/index.css
  frontend/src/Components/Matches/index.js
  frontend/src/Components/TeamsHeader/index.js
Labels: enhancement, frontend

#26 Login signup fix
  frontend/src/Components/Auth/Auth.js
  frontend/src/Components/Dashboard/index.js
  frontend/src/Components/Login/Login.js
  frontend/src/Components/MatchCreator/index.js
  frontend/src/Components/SignUp/SignUp.js
  frontend/src/Components/Team/index.js
  frontend/src/Components/TeamCreator/index.js
  frontend/src/Components/Util/Notification.js
Labels: fix, frontend
