Repository nokia-wroclaw/innovativeproject-competitive-teams, pull requests merged in 2020-10, with the labels that each got.

#1 Feature/fastapi db connection
  .gitignore
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/app/__init__.py
  backend/app/database/__init__.py
  backend/app/database/crud.py
  backend/app/database/database.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/models.py
  backend/app/schemas/__init__.py
  backend/app/schemas/schemas.py
  backend/requirements.txt
  database.env
  docker-compose.yml
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/serviceWorker.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: backend, enhancement

#3 Feature/travis integration
  .travis.yml
  backend/Dockerfile
  backend/app/database/database.py
  database.env
  docker-compose.yml
  frontend/Dockerfile
Labels: enhancement, travis

#4 Feature/travis integration
  .travis.yml
  README.md
  backend/Dockerfile
  backend/app/database/database.py
  database.env
  docker-compose.yml
  frontend/Dockerfile
Labels: enhancement, travis

#5 Feature/connect frontend with backend
  backend/app/main.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/Api.tsx
Labels: enhancement, frontend

#6 stopped using 'serve' to run the frontend server
  .gitignore
  docker-compose.yml
  frontend/Dockerfile
Labels: bug, frontend

#7 Feature/deploy frontend with nginx
  .gitignore
  .travis.yml
  backend/app/main.py
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/Api.tsx
  run-dev.sh
Labels: enhancement, frontend
