Repository nokia-wroclaw/innovativeproject-competitive-teams, pull requests merged in 2021-01, with the labels that each got.

#39 Feature/database row counts endpoints
  backend/app/database/crud.py
  backend/app/main.py
Labels: backend, enhancement

#40 Added count endpoints to searching
  backend/app/database/crud.py
  backend/app/main.py
Labels: backend, fix

#38 pagination
  backend/app/database/crud.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Matches/index.js
  frontend/src/Components/Players/index.js
  frontend/src/Components/Teams/index.js
  frontend/src/Components/Tournaments/index.js
Labels: backend, enhancement, frontend

#41 Formatted all backend python files with Black
  backend/app/database/crud.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/permissions/permissions.py
  backend/app/schemas/schemas.py
Labels: backend, fix

#42 Feature/personal match history
  backend/app/database/crud.py
  backend/app/main.py
Labels: backend, enhancement, fix

#43 Feature/single elimination tournament
  backend/app/database/crud.py
  backend/app/main.py
  backend/app/schemas/schemas.py
  frontend/src/Components/Tournament/index.js
Labels: backend, enhancement, fix

#45 Feature/dashboard query caching
  frontend/src/Components/Auth/Auth.js
  frontend/src/Components/Dashboard/index.js
  frontend/src/Components/Match/index.js
  frontend/src/Components/MatchCreator/index.js
  frontend/src/Components/Matches/index.js
  frontend/src/Components/Players/index.js
  frontend/src/Components/Profile/index.js
  frontend/src/Components/Team/AddPlayer.js
  frontend/src/Components/Team/MakeCaptain.js
  frontend/src/Components/Team/RemovePlayer.js
  frontend/src/Components/Team/index.js
  frontend/src/Components/TeamCreator/index.js
  frontend/src/Components/Teams/index.js
  frontend/src/Components/Tournament/index.js
  frontend/src/Components/TournamentCreator/index.js
  frontend/src/Components/Tournaments/index.js
Labels: enhancement, fix, frontend

#47 Added count personal matches endpoint
  backend/app/database/crud.py
  backend/app/main.py
Labels: backend, enhancement

#48 Feature/tournament se graphs
  .travis.yml
  frontend/src/App.css
  frontend/src/Components/History/index.js
  frontend/src/Components/Match/index.js
  frontend/src/Components/MatchCreator/index.js
  frontend/src/Components/Matches/index.js
  frontend/src/Components/Players/index.js
  frontend/src/Components/Team/AddPlayer.js
  frontend/src/Components/Team/RemovePlayer.js
  frontend/src/Components/TeamCreator/index.js
  frontend/src/Components/Teams/index.js
  frontend/src/Components/Tournament/SEGraph.js
  frontend/src/Components/Tournament/index.css
  frontend/src/Components/Tournament/index.js
  frontend/src/Components/TournamentCreator/index.js
  frontend/src/Components/Tournaments/index.js
  frontend/src/Components/UpcomingMatches/index.js
  frontend/src/Components/Util/Notification.js
Labels: enhancement, frontend, travis

#49 Feature/permission system rework
  backend/app/database/crud.py
  backend/app/main.py
  backend/app/permissions/permissions.py
  frontend/src/App.js
  frontend/src/Components/Dashboard/index.js
  frontend/src/Components/History/index.js
  frontend/src/Components/Home/Home.js
  frontend/src/Components/Match/index.js
  frontend/src/Components/MatchCreator/index.js
  frontend/src/Components/Matches/index.js
  frontend/src/Components/Player/index.js
  frontend/src/Components/Players/index.js
  frontend/src/Components/Team/AddPlayer.js
  frontend/src/Components/Team/MakeCaptain.js
  frontend/src/Components/Team/RemovePlayer.js
  frontend/src/Components/Team/index.js
  frontend/src/Components/TeamCreator/index.js
  frontend/src/Components/Teams/index.js
  frontend/src/Components/Tournament/ModifyTournamentMatch.js
  frontend/src/Components/Tournament/ResolveTournamentMatch.js
  frontend/src/Components/Tournament/index.js
  frontend/src/Components/TournamentCreator/index.js
  frontend/src/Components/Tournaments/index.js
  frontend/src/Components/UpcomingMatches/index.js
Labels: backend, enhancement, fix
